.AppointContainer {
  margin: 2rem auto;
  padding: 1.7rem;
  overflow-x: auto;
}

.logoTable {
  width: 35%;
}

.logotableContainer {
  display: flex;
  justify-content: center;
  text-align: center;
}
.AppointInnerContainer {
  display: grid;
  max-width: 110rem;
  margin: 2rem auto;
  grid-template-columns: 1fr;
  padding: 1.7rem;

  gap: 1.5rem;
}

.table-container {
  grid-column: 1/2;
  grid-row: 1;
  justify-self: center;
  width: 100%;
}
.tableAppointment {
  background-color: rgb(235, 243, 240);
  box-shadow: 5px 5px 25px rgba(43, 43, 43, 0.193);
  grid-column: 1/2;
  grid-row: 1;
  text-align: center;
  border-radius: 2rem;
  overflow: hidden;
  border-collapse: collapse;
}

.tabHeader {
  border-radius: 2rem;
  background-color: #378885;
  border: none;
  padding: 2rem;
  font-size: 1.5rem;

  color: rgb(255, 255, 255);
}

.tabHeader th {
  padding: 1rem;
}

.tabHeader th,
.patientsRow td {
  padding: 1rem;
  text-align: left;
}

.patientsRow {
  font-size: 1.2rem;
  margin-top: 2rem;
  padding: 1rem;
}

.tableAppointment td,
.tableAppointment th {
  padding: 2rem 3rem;
  text-align: start;
}

.updateButton {
  padding: 0.5rem 1rem;
  background: linear-gradient(45deg, #11c2bc, #1d53c0);
  border-radius: 1rem;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: 600;
  font-size: 1.5rem;
  box-shadow: 10px 10px 25px rgba(43, 43, 43, 0.275);
  border: none;
}

.updateButton:hover {
  background: linear-gradient(45deg, #11c2bc, #5ad279);
  transition: 0.3s;
  transform: scale(110%);
}

.gradient-success-btn {
  background: linear-gradient(45deg, #11c2bc, #1d53c0);
  border-radius: 1.5rem;
}

.gradient-success-btn:hover {
  background: linear-gradient(45deg, #11c2bc, #5ad279) !important;
}

.gradient-cancel-btn {
  background: linear-gradient(45deg, #c28111, #c01d1d) !important;
  border-radius: 1.5rem;
}

.gradient-cancel-btn:hover {
  background: linear-gradient(45deg, #c2a511, #f46302) !important;
}

.deleteButton {
  padding: 0.5rem 1rem;
  border: none;
  background: linear-gradient(45deg, #c28111, #c01d1d);
  border-radius: 1rem;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: 600;
  font-size: 1.5rem;
  box-shadow: 10px 10px 25px rgba(43, 43, 43, 0.275);
  transition: 0.3s;
}

.deleteButton:hover {
  cursor: pointer;
  background: linear-gradient(45deg, #c2a511, #f46302);
  transform: scale(110%);
}

.buttonAppointments {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.larger-pop {
  padding: 3rem;
  font-size: 1.5rem;
}

.createMoreButton {
  padding: 0 3.5rem;
  text-decoration: none;
  color: white;
  font-size: 2rem;
  background: linear-gradient(45deg, #11c2bc, #1d53c0);
  height: 100%;
  border-radius: 2rem;
  font-weight: 600;

  display: flex;
  flex-direction: column;

  justify-content: center;
  gap: 2rem;
  box-shadow: 10px 10px 25px rgba(43, 43, 43, 0.275);
  transition: 0.3s;
}

.addMore {
  grid-column: 2/3;
}

.createMoreButton:hover {
  background: linear-gradient(45deg, #11c2bc, #5ad279);
  transform: scale(105%);
}
