* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --green: #4fd17b;
  --light-blue: #378885;
  --dark-blue: #10a8ad;
}

body {
  background-color: var(--light-blue);
  font-family: "Roboto", serif;
}

/* QUERIES */
@media (max-width: 40em) {
  html {
    font-size: 56.25%;
  }

  /* HOME */
  .buttons-Home {
    flex-wrap: wrap;
    justify-content: center;
    gap: 4rem !important;
    margin-top: 0;
    align-self: center;
    grid-column: 1;
  }

  .home-logo-container {
    grid-column: 1;
  }

  .table-container {
    overflow-x: auto;
    width: 100%;
  }

  .tableAppointment {
    width: 100%;
    border-collapse: collapse;
  }

  .tabHeader {
    display: none;
  }

  .patientsRow {
    margin-bottom: 1rem;
  }

  .patientsRow td {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    border-bottom: 1px solid #ddd;
    position: relative;
  }

  .patientsRow td::before {
    content: attr(data-label);
    flex: 1;
    font-weight: bold;
    padding-right: 1rem;
  }
}
